:root {
    --text-main: #F4F4F4;
    --text-secondary: #575756;
    --background-color: #1F1F1F;
    --background-color-secondary: #101010;
    --accent-color-main: #D8330F;
    --accent-color-secondary: #EBAC0B;
}

body {
    color: var(--text-main);
    background-color: var(--background-color);
    font-family: 'Roboto', sans-serif;
    margin: 2rem auto;
    max-width: 1000px;
}

a {
    color: unset;
    text-decoration: none;
}

.navigation {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.brand, .links {
    display: flex;
    align-items: center;
}

.brand a {
    margin-left: 0.5rem;
}

.links {
    grid-column-start: 3;
    font-size: 0.75rem;
    font-weight: 100;
}

.links a {
    margin-left: 2.5rem;
}

.links a:hover {
    color: var(--text-secondary);
}

.links a:last-child {
    background-color: var(--accent-color-main);
    padding: 0.5rem 1rem;
    border-radius: 15px;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

header img {
    max-width: 500px;
}

.sub-heading {
    color:var(--accent-color-secondary);
    margin-bottom: 0;
}

header h1 {
    font-family: 'Aleo', serif;
    font-size: 3rem;
    margin: 1rem 0;
}

header hr {
    width: 20px;
    margin: 0;
}

.description {
    font-weight: 100;
}

.stats {
    display: grid;
    grid-template-areas: 'global region'
                         'global map';
    margin-bottom: 3rem;
}

.title {
    text-align: center;
}

.title h2 {
    font-family: 'Aleo', serif;
    font-size: 2rem;
    margin: 1rem 0;
}

.title p {
    font-weight: 100;
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.stats-region {
    grid-area: region;
    justify-self: end;
    display: flex;
    margin-bottom: 1rem;
}
.stats-region > div {
    text-align: center;
    width: 185px;
    background-color: var(--background-color-secondary);
    margin-right: 0.25rem;
}

.stats-region > div:first-child {
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

.stats-region > div:last-child {
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    margin-right: 0;
}

.stats-region p,
.stats-global p {
    font-size: 0.9rem;
    font-weight: 100;
}
.stats-region span,
.stats-global span {
    font-weight: 700;
    font-size: 1.25rem;
}

.stats-global {
    grid-area: global;
    align-self: end;
}

.stats-global > div {
    text-align: center;
    width: 185px;
    background-color: var(--background-color-secondary);
    padding: 0.5rem 0;
    margin-top: 0.25rem;
}

.stats-global span {
    display: block;
    padding-top: 0.5rem;
}

.stats-map {
    grid-area: map;
}
.stats-map > div {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.stats-map img {
    max-width: 90%;
}

.dot {
    border-radius: 50%;
    background-color: var(--accent-color-main);
    height: 0.5rem;
    width: 0.5rem;
    box-shadow: 0 0 0.5rem 0.15rem var(--accent-color-main);
}

.dots .dot:nth-child(1) {
    position: absolute;
    top: 85px;
    left: 150px;
}

.dots .dot:nth-child(2) {
    position: absolute;
    top: 215px;
    left: 240px;
}

.dots .dot:nth-child(3) {
    position: absolute;
    top: 140px;
    left: 400px;
}

.dots .dot:nth-child(4) {
    position: absolute;
    top: 70px;
    left: 385px;
}

.dots .dot:nth-child(5) {
    position: absolute;
    top: 90px;
    right: 210px;
}

.dots .dot:nth-child(6) {
    position: absolute;
    bottom: 80px;
    right: 130px;
}

.precautions-item {
    max-width: 50%;
    margin: 0 auto;
}

.precautions-item > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.precautions-step {
    position: relative;
}

.precautions-step p {
    position: absolute;
    top: 50px;
    left: 0;
    margin: 0;
}

.precautions-text {
    font-size: 0.9rem;
    font-weight: 100;
    margin-bottom: 3rem;
    margin-top: 0;
}

.precautions-item:nth-child(even) .precautions-text {
    text-align: right;
    font-size: 0.9rem;
    font-weight: 100;
}
